blockquote{
    width:90%;
    margin:50px auto;
    font-family:'Open Sans';
    font-style:italic;
    font-size: 2rem;
    color: #888;
    text-align: justify;
    padding:1.2em 30px 1.2em 75px;
    line-height:1.6;
    position: relative;
  }
  
  blockquote::before{
    font-family:'Playfair Display';
    content: "\275D";
    color:#666;
    font-size:6em;
    position: absolute;
    left: -2.2rem;
    top:-4.5rem;
  }
  
  blockquote::after{
    content: '';
  }
  
  blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }