.feature-box {
    position: relative;
    width: 100%;
    height: 40rem;
    padding: 2.5rem;
    border-radius: 3px;
    background: $color-white;
    font-size: $default-font-size;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
    transition: transform .3s ease-out;

    // Tab-port responsive
    @include respond(tab-port) {
        width: 70%;
        height: 35rem;

        margin: 0 auto;
    }

    &:hover {
        transform: scale(1.03) translateY(-1.5rem);
    }
}